<h1>Listing games</h1>

<div><%= link_to 'New Game', new_game_path %></div>

<br/>
<% @games.each do |game| %>
<div class="game">  
   <div><%= game.game_type.game_type_name %></div>
   <div><%= game.game_date %></div>
   <%game.game_scores.each do |game_score| %>
      <div><%= game_score.player.name %>: <%= game_score.score %></div>
   <% end %>
   <%= link_to 'Show', game %>
   <%= link_to 'Edit', edit_game_path(game) %>
   <%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %>
</div>
<% end %>

<br />

